/* FUNCTION */

/* LAYOUT */
body, html {
    margin: 0;
}
main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
}

header {
    width: 240px;
    height: 100%;
    padding-left: 30px;
    padding-bottom: 100%;
    float: left;
}

section {
    float: left;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    position: fixed;
    margin-left: 270px;
}

footer {
    font-size: 9px;
    color: whitesmoke;
    font-family: 'Segoe UI';
    font-size: 11px;
    bottom: 10px;
    position: fixed;
    text-transform: uppercase;
}
nav {
    display: list-item block;
}

iframe.mainframe {
    border: none;
    margin: 0;
    display: inline;
    width: inherit;
    position: fixed;
}

@media screen and (max-width: 720px) {
    nav { display: none; }
    header {
        width: 100%;
        height: 50px;
        padding: 0;
        float: top;
        font-size: xx-small;
        text-align: center;
    }
}

/*STYLE*/
h1, h2, h3, h4, h5, h6 { color: white; letter-spacing: 6px; font-weight: 200; color: white; font-family: 'Segoe UI' }
a, p, b, i, em, q { color: #c9c9c9; font-family: 'Segoe UI'; }

.fuzztext {
/*background: url('/assets/images/elements/fuzz1.gif');*/
background: url('../images/elements/fuzz1.gif');
background-repeat: repeat;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;}

article {
    position: relative;
    height: 200px;
    margin: 25px;
    background-color: #090909;
    background-size: auto 200px;
    background-repeat: no-repeat;
    border: 10px solid transparent;
    /*border-image: url('/assets/images/elements/fuzz1.gif') 30% repeat;*/
    border-image: url('../images/elements/fuzz1.gif') 30% repeat;
    float: left;
    transition: content 1s ease;
}

.overlay {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 160px;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: black;
    text-align: center;
    display: middle;
    border-top: 40px solid black;
}

article:hover .overlay { opacity: 1; }

article img { margin-right: 10px; height: 200px; width: auto; float: left;}
article.featured { width: 800px; background-position: left; text-align: left; }
article.standard { width: 200px; background-position: center; text-align: center; }
a { text-decoration: none; }

/*ANIMATIONS*/
