/* FUNCTION */

/* LAYOUT */
* { box-sizing: border-box; cursor: crosshair; }
h1, h2, h3, h4, h5, h6 { color: white; letter-spacing: 6px; font-weight: 200; color: white; font-family: 'Segoe UI' }
a, p, b, i, em, q { color: #c9c9c9; font-family: 'Segoe UI'; z-index: 1; }

a { cursor: cell; text-decoration: none; }
a * { cursor: cell; }

p, q, b, em, i, h1, h2, h3, h4, h5, h6 {
    /*-webkit-background-clip: text;*/
    -webkit-text-fill-color: whitesmoke;
}

body, html {
    margin: 0;
}
main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: black;
}

header {
    width: 260px;
    height: 100%;
    padding-left: 10px;
    padding-bottom: 100%;
    left: 0;
    position: fixed;
    z-index: 1;
    background-color: black;
}

section {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    position: fixed;
    /* padding-left: 270px; */
}

footer {
    font-size: 9px;
    color: whitesmoke;
    font-family: 'Segoe UI';
    font-size: 11px;
    bottom: 10px;
    position: fixed;
    text-transform: uppercase;
}


iframe.mainframe {
    border: none;
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    padding-left: 260px;
}

/* Style the list */
ul.breadcrumb {
  position: relative;
  width: 90%;
  /* padding: 10px 16px; */
  list-style: none;
  background-color: black;
  float: left;
  margin: 2px;
}

/* Display list items side by side */
ul.breadcrumb li {
    letter-spacing: 8px;
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: whitesmoke;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: whitesmoke;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    background: url('../images/fuzz1.gif');
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dropbtn {
  background: black;
  color: whitesmoke;
  padding: 2px;
  font-size: 16px;
  font-weight: lighter;
  border: none;
  cursor: cell;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
  padding-right: 20px;
  margin: 2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background: rgba(0, 0, 0, 0.93);
  min-width: 200px;
  z-index: 1;
}

.dropdown-content a {
    color: whitesmoke;
    padding: 5px 2px;
    font-weight: lighter;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: url('../images/fuzz1.gif');
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #202020;
}

/*STYLE*/

.fuzztext, .fuzztext * {
    background: url('../images/fuzz1.gif');
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fuzzhover *:hover {
    background: url('../images/fuzz1.gif');
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

article {
    position: relative;
    height: 200px;
    padding: none;
    margin: 25px;
    background-color: #090909;
    background-size: auto 200px;
    background-repeat: no-repeat;
    border: 10px solid transparent;
    border-image: url('../images/fuzz1.gif') 10% repeat;
    float: left;
    transition: content 1s ease;
}

.fuzzborder {
    border: 10px solid transparent;
    border-image: url('../images/fuzz1.gif') 10% repeat;
    display: block;
    padding: 10px;
    margin: 10px;
}

.overlay {
    /*box-sizing: content-box;*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20;
    right: 0;
    height: 180px;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: black;
    text-align: center;
    display: top-left;
    /*border-top: 10px solid black;*/
}

article:hover .overlay { opacity: 1; }

article img {float: left;margin-right: 10px;height: 180px;width: auto;z-index: 0;}
article.featured { width: 700px; background-position: left; text-align: left; }
article.standard { width: 200px; background-position: center; text-align: center; }

/*ANIMATIONS*/

@media only screen and (max-width: 1000px) { article.featured { width: 600px; } }
@media only screen and (max-width: 900px) { article.featured { width: 500px; } }
@media only screen and (max-width: 800px) { article.featured { width: 400px; } }
@media only screen and (max-width: 720px) {
    header {
        width: 100%;
        height: 100px;
        padding: 0;
        float: top;
        font-size: 50%;
        text-align: center;
    }
    header { line-height: 10px; }
    nav * { display: inline; background-color: black; }
    nav ul { list-style: none; }
    iframe.mainframe {
        padding: 0;
        padding-top: 100px;
    }
    article {
        height: 120px;
        font-size: 70%;
    }
    article.featured { width: 320px; }
    article.standard { width: 120px; }
    article img { height: 100px; }
    .overlay { height: 100px; }
    footer { display: none; }
}

@media only screen and (max-width: 500px) {
    article.featured { width: auto; }
    article img { position: absolute; top: 0; left: 0; margin-right: 70%; }
    article h2, article p { position: relative; margin: 5px; top: 0; right: 0; text-align: right; }
    article h2:after, p:after { content: ""; clear: both; display: table; }
    .overlay { display: none; }
}